.comments {
    display: flex;
    background-color: white;
    flex-direction: column;
    /* width: 60%; */
    min-height: 15vh;
    border-radius: 5px;
    /* border: 1px solid rgba(0, 0, 0, .3); */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .9);
    padding: 10px;
}

.message__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;
    margin-top: auto;
}

.upperComment {
    /* width: 70%; */
    margin-left: auto;
    border-left: 1px solid black;
    margin-bottom: 5px;
    padding: 10px;
    /* margin-left: 20px; */
}

.children {
    margin-left: auto;
}

.coments__section {
    /* width: 80vw; */
    /* background-color: rgba(219, 219, 219, .3); */
    margin: auto;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

.upper__coment,
.message__btns {
    display: flex;
    justify-content: space-between;
}

.left__lower,
.right__lower {
    display: flex;
}

.btn {
    margin-right: 15px;
    color: gray;
}

.comment__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message {
    display: flex;
    align-items: center;
    font-size: 1.1em;
}