.logo__image {
    height: 80px;
    /* width: 80px; */
    margin: 0;
    padding: 0;
    /* background-color: blue; */
    border-radius: 50%;
}

.logo__text {
    width: 150px;
    height: 20px;
}